@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
.container {
  border: 5px solid black;
  border-radius: 30px;
  width: 50%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  position: relative;
}
h1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
#value {
  width: 80%;
  height: 100px;
  background-color: #f1d9ab;
  border: none;
  border-radius: 20px;
  /* border: 5px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
}

#btn-cont {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}
#increase {
  background-color: #00ff0d;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
#decrease {
  background-color: #ff004d;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
#reset {
  background-color: #ffea00;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
button {
  padding: 10px 20px;
}
.container-inp {
  border: 5px solid black;
  border-radius: 30px;
  width: 50%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  align-items: center;
  padding: 20px;
  position: relative;
  background-color: #1877f2;
}
input {
  border-radius: 10px;
}
label {
  color: white;
}
form > p {
  color: white;
}
/* third */
.container-num {
  border: 5px solid black;
  border-radius: 30px;
  width: 50%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 50px;
  position: relative;
  /* background-color: #1877f2; */
}


#para {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
}
